# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit cache
.streamlit/

# Model / embedding files
*.npy
*.pkl
*.index

# Dataset
images/
archive/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/